{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 55.91506290840837,
    "longitude": 11.919516921719575,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "copenhagen",
    "time_zone": "Europe/Copenhagen",
    "external_url": "http://rokkaer.duckdns.org:8123",
    "internal_url": null,
    "currency": "EUR",
    "country": "DK",
    "language": "en",
    "radius": 100
  }
}